{% extends 'layouts/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='container mt-5'>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ forms.name|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ forms.email|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ forms.age|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ forms.image|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ forms.media }}
                {{ forms.bio|as_crispy_field }}
            </div>
            <div class="col-md-6" id="preview"></div>
            <div class="col-md-6"></div>
        </div>
        <button class="btn btn-primary btn-sm" type='submit'>Update Person</button>
    </form>
</div>

<script>
    function getImagePreview(event)
    {
        var image = URL.createObjectURL(event.target.files[0]);
        var imagediv = document.getElementById('preview');
        var newimg = document.createElement('img');
        imagediv.innerHTML = '';
        newimg.src = image;
        newimg.width = "300";
        imagediv.appendChild(newimg);
    }
</script>


{% endblock content %}

